<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>

    <bean id="helloBean" class="com.lz_java.core.HelloWorld">
        <property name="name" value="lz_java"/>
    </bean>

    <bean id="outputHelper" class="com.lz_java.core.OutputContainer">
        <property name="outputGenerator" ref="csvOutputGenerator"/>
    </bean>

    <bean id="csvOutputGenerator" class="com.lz_java.core.CsvOutputGenerator"/>
    <bean id="jsonOutputGenerator" class="com.lz_java.core.JsonOutputGenerator"/>

    <bean id="customerBean" class="com.lz_java.core.Customer">
        <property name="action" value="buy"/>
        <property name="type" value="1"/>
    </bean>

    <!--<bean id="personBean1" class="com.lz_java.core.Person">-->
        <!--<property name="name" value="linzhen"/>-->
        <!--<property name="address" value="nanjing"/>-->
        <!--<property name="age" value="25"/>-->
    <!--</bean>-->

    <bean id="personBean" class="com.lz_java.core.Person">
        <property name="name" value="linzhen2"/>
        <property name="address" value="nanjing2"/>
        <property name="age" value="23"/>
    </bean>

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/mybatis"/>
        <property name="username" value="root"/>
        <property name="password" value="root"/>
    </bean>

    <bean id="userService" class="com.lz_java.core.service.JdbcUserService">
        <property name="dataSource" ref="dataSource"/>
    </bean>
</beans>